<aside ng-class="$ctrl.style.sidebar">
  <section>
    <h3>Trends</h3>
    <ul>
      <li>
        <a ui-sref="trends.current">Current</a>
        <p>This Week</p>
      </li>
      <li>
        <a ui-sref="trends.archive">Archive</a>
        <p>Select a Week</p>
      </li>
    </ul>
  </section>
  <section>
    <h3><a ui-sref="about">About</a></h3>
    <ul>
      <li>
        <a ui-sref="about.info">Info</a>
      </li>
      <li>
        <a ui-sref="about.team">Team</a>
      </li>
    </ul>
  </section>
</aside>
