<aside ng-class="$ctrl.style.sidebar">
  <!-- <section>
    <h3><a ui-sref="trends" ng-click="$ctrl.closeLeftSidenav()">Trends</a></h3>
    <ul>
      <li>
        <a ui-sref="trends.current" ng-click="$ctrl.closeLeftSidenav()">Current</a>
        <p>This Week</p>
      </li>
      <li>
        <a ui-sref="trends.archive" ng-click="$ctrl.closeLeftSidenav()">Archive</a>
        <p>Select a Week</p>
      </li>
    </ul>
  </section> -->
  <section>
    <h3><a ui-sref="about" ng-click="$ctrl.closeLeftSidenav()">About</a></h3>
    <ul>
      <li>
        <a ui-sref="about.info" ng-click="$ctrl.closeLeftSidenav()">Info</a>
      </li>
      <li>
        <a ui-sref="about.team" ng-click="$ctrl.closeLeftSidenav()">Team</a>
      </li>
    </ul>
  </section>
</aside>
