<section ng-class="$ctrl.style.screening">
  <h3>Edit Screening</h3>

  <p>Movie Title: <span><strong>{{$ctrl.data.movie_data.title}}</strong></span></p>
  <p>Location: <span>{{$ctrl.data.locations_data.name}}</span></p>
  <p>Theater Room: <span>{{$ctrl.data.theater_data.name}}</span></p>
  <p>Date Time: <span>{{$ctrl.data.dateTime}}</span></p>
  <p>Admissions Total: <span>${{$ctrl.data.admissionsTotal}}</span></p>
  <p>Attendance Total: <span>{{$ctrl.data.attendanceTotal}}</span></p>


  <form ng-submit="$ctrl.submitEdit()">
    <label>Admissions Total: </label>
    <input ng-model="$ctrl.putData.admissionsTotal"
           type="number">
    <br>
    <label>Attendance Total: </label>
    <input ng-model="$ctrl.putData.attendanceTotal"
           type="number">
    <md-button class="md-raised" type="submit">
      Done
    </md-button>

    <br>
    
    <md-button class="md-raised delete"
               ng-click="$ctrl.deleteScreening()">
      Delete Screening
    </md-button>
  </form>
        

</section>