:local(.screening) {
  padding: 30px;
  overflow: hidden;

  h3 {
    text-align: center;
  }
  p {
    margin: 0 -25px;
    padding: 15px 25px;

    span {
      font-size: 1.1em;
      float: right;
    }
  }
  p:nth-child(even) {
    background: #f9f9f9;
  }
  form {
    margin: 30px auto;
    width: 95%;
    text-align: center;

    input {
      width: 22%;
    }

    .md-raised {
      width: 45%;
      margin: 30px auto 10px auto;

      &.done {
        float: right;
        margin: 20px auto;
      }
      &.delete {
        float: left;
        background: #ff5d5d;
        color: #fff;
        margin: 20px auto;
      }

       &.delete:hover {
        background: #ff5d5d;
        color: #fff;
      }
    }
  }
}
