<aside ng-class="$ctrl.style.sidebar">
  <section>
    <h3><a ui-sref="query" ng-click="$ctrl.closeLeftSidenav()">New Query</a></h3>
    <ul>
      <li>
        <a ui-sref="query.all" ng-click="$ctrl.closeLeftSidenav()">All</a>
        <p>Movie Screenings</p>
      </li>
      <li ng-show="$ctrl.companyID">
        <a ui-sref="query.my" ng-click="$ctrl.closeLeftSidenav()">My</a>
        <p>Movie Screenings</p>
      </li>
      <li ng-show="$ctrl.companyID">
        <a ui-sref="query.other" ng-click="$ctrl.closeLeftSidenav()">Other</a>
        <p>All Screenings Except My Movies</p>
      </li>
    </ul>
  </section>
  <section>
    <h3><a ui-sref="about" ng-click="$ctrl.closeLeftSidenav()">About</a></h3>
    <ul>
      <li>
        <a ui-sref="about.info" ng-click="$ctrl.closeLeftSidenav()">Info</a>
      </li>
      <li>
        <a ui-sref="about.team" ng-click="$ctrl.closeLeftSidenav()">Team</a>
      </li>
    </ul>
  </section>
</aside>
