<aside ng-class="$ctrl.style.sidebar">
  <section>
    <h3><a ui-sref="query">New Query</a></h3>
    <ul>
      <li>
        <a ui-sref="query.all">All</a>
        <p>Movie Screenings</p>
      </li>
      <li ng-show="$ctrl.companyID">
        <a ui-sref="query.my">My</a>
        <p>Movie Screenings</p>
      </li>
      <li ng-show="$ctrl.companyID">
        <a ui-sref="query.other">Other</a>
        <p>All Screenings Except My Movies</p>
      </li>
    </ul>
  </section>
  <section>
    <h3><a ui-sref="about">About</a></h3>
    <ul>
      <li>
        <a ui-sref="about.info">Info</a>
      </li>
      <li>
        <a ui-sref="about.team">Team</a>
      </li>
    </ul>
  </section>
</aside>
