:local(.query) {
    padding: 0 60px 50px 60px;

  .groupX {
    font-size: 20px;
    margin: 20px 0;
    padding: 3px 15px 3px 15px;
    color: rgb(49, 46, 46);
    background-color: rgba(224, 224, 224, 0.96);
    text-transform: none;
    font-weight: 400;
    min-width:100px;
}
.md-button.left {
    border-radius: 10px 0 0 10px;
}
.md-button.right {
    border-radius: 0 10px 10px 0;
}
.md-button:not([disabled]):hover {
    background-color: rgba(193, 193, 193, 0.96);
    color: rgb(49, 46, 46);
    transition: 0.3s;
}

li {
  font-size: 80%;
}

}
