<main ng-class="$ctrl.style.query">
  <!-- <md-button ng-click="$ctrl.addquery()">Query ALL</md-button>
  <button ng-click="$ctrl.addMyQuery()" ng-show="$ctrl.companyID">Query MY screenings</button>
  <button ng-click="$ctrl.addOtherQuery()" ng-show="$ctrl.companyID">Query OTHER screenings</button> -->

  <section layout="row" layout-align="center center">
    <md-button class="groupX left" ng-click="$ctrl.addquery()">Query ALL</md-button>
    <md-button class="groupX middle" ng-click="$ctrl.addMyQuery()" ng-show="$ctrl.companyID">Query MY screenings</md-button>
    <md-button class="groupX right" ng-click="$ctrl.addOtherQuery()" ng-show="$ctrl.companyID">Query OTHER screenings</md-button>

</section>

  <div ng-hide="$ctrl.arrayOfQueries.length < 1">

    <query-row ng-repeat="query in $ctrl.arrayOfQueries"
    queryitem="query"
    remove="$ctrl.removequery(query)"
    colorbg="'color-' + $index"></query-row>

    <form>
      <input ng-model="$ctrl.displayType" type="radio" name="type" value="summary">Summary</input>
      <input ng-model="$ctrl.displayType" type="radio" name="type" value="chart" checked>Chart</input>
    </form>

    <summary ng-repeat="sum in $ctrl.arrayOfQueries"
    info="sum" name="sum.name"
    ng-show="$ctrl.displayType === 'summary'"></summary>

  </div>

  <chart array="$ctrl.arrayOfQueries"
  count="$ctrl.count"
  ng-show="$ctrl.displayType === 'chart'"></chart>

  <div ng-show="$ctrl.arrayOfQueries.length < 1">
    <p>Enter a query. You can create more than one.</p>
  </div>
  <ui-view name="query"></ui-view>
</main>
