:local(.poster){


  .container {
    // background-color: red;

    width: 100px;
    // display: inline;



    /* resize images */
      img {
          width: 100%;
          height: auto;

      }
}


}
