body {
  font-family: $body-font;
  font-size: $base-font-size;
  color: #323232;
  overflow-x: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

main.main {
  margin-left: 170px;
}
