<main ng-class="account.style.account"
      ng-init="account.fetchLocations()">
  <h3>{{account.currentUser}}</h3>
  <div>
    <p>Company Name: {{account.companyName}}</p>
    <form ng-if="!account.companyName" name="companyForm"
          ng-submit="account.submit($event)">
      <input ng-model="account.companyInput" placeholder="Company Name">
      <button type="submit">Add Company</button>
    </form>
  </div>
  <button ng-if="!account.locationAdding"
          ng-click="account.locationAdding = true">Add New Location</button>
  <div ng-if="account.locationAdding">
    <p>New Location</p>
    <form name="locationForm" ng-submit="account.submitLocation($event)">
      Name: <input ng-model="account.newAcct.name" placeholder="Location Name"><br>
      Address: <input ng-model="account.newAcct.address" placeholder="Address"><br>
      City: <input ng-model="account.newAcct.city" placeholder="City"><br>
      State: <input ng-model="account.newAcct.state" placeholder="State"><br>
      Zip: <input ng-model="account.newAcct.zip" placeholder="Zip"><br>
      Country: <input ng-model="account.newAcct.country" placeholder="Country"><br>
      <button type="submit">Add Location</button>
    </form>
  </div>
  <ul>
    <li ng-repeat="location in account.locations">
      <div ng-if="!account.locationEditing" ng-init="account.locationEditing = false">
        {{$index}}
        <p>{{location.name}}</p>
        <p>{{location.address}}</p>
        <p>{{location.city}}</p>
        <p>{{location.state}}</p>
        <p>{{location.zip}}</p>
      </div>
      <form ng-if="account.locationEditing" ng-submit="account.editLocation($index)">
        <input ng-model="location.name"><br>
        <input ng-model="location.address"><br>
        <input ng-model="location.city"><br>
        <input ng-model="location.state"><br>
        <input ng-model="location.zip"><br>
        <button type="submit">Submit This</button>
      </form>
      <button ng-if="!account.locationEditing" ng-click="account.locationEditing = true">Edit</button>
      <hr>
    </li>
  </ul>
</main>
