<main ng-class="account.style.account"
      ng-init="account.fetchLocations()">
  <div class="head"> 
    <h3>{{account.currentUser}}</h3>
      <p>{{account.companyName}}</p>
      <button ng-init="account.locationAdding = false"
          ng-if="!account.locationAdding"
          ng-click="account.locationAdding = true">
          Add New Location
      </button>

  </div>
  <div>
    <form ng-if="!account.companyName" name="companyForm"
          ng-submit="account.submitCompany($event)">
      Company Name: <input ng-model="account.companyInput" placeholder="Company Name">
      <button type="submit">Add Company</button>
    </form>
  </div>
  
  <div ng-if="account.locationAdding">
    <p>New Location</p>
    <form name="locationForm" ng-submit="account.submitLocation($event)">
      Name: <input ng-model="account.newLocation.name" placeholder="Location Name"><br>
      Address: <input ng-model="account.newLocation.address" placeholder="Address"><br>
      City: <input ng-model="account.newLocation.city" placeholder="City"><br>
      State: <input ng-model="account.newLocation.state" placeholder="State"><br>
      Zip: <input ng-model="account.newLocation.zip" placeholder="Zip"><br>
      Country: <input ng-model="account.newLocation.country" placeholder="Country"><br>
      <button type="submit">Add Location</button>
    </form>
  </div>
  <ul class="location-list">
    <li ng-repeat="location in account.locations">

      <div ng-if="!account.isActive($index)">
        <ul>
          <li>{{location.name}}</li>
          <li>{{location.address}}</li>
          <li>{{location.city}}</li>
          <li>{{location.state}}</li>
          <li>{{location.zip}}</li>
        </ul>
        <button ng-if="!account.isActive($index)"
                ng-click="account.changeActive($index)">
                Edit
        </button>

        <p>Rooms:  
          <button ng-if="!location.rooms"
                  ng-click="account.fetchRooms($index)">Show Rooms
          </button>
        </p>

        <div ng-repeat="room in location.rooms">

          <p ng-if="!account.isActiveRoomEdit($index)">
                  Name: {{room.name}} - Total Seats: {{room.seats}}
            <button ng-if="!account.isActiveRoomEdit($index)"
                    ng-click="account.changeActiveRoomEdit($index)">
              Edit
            </button>
            <button ng-if="!account.isActiveRoomEdit($index)"
                    ng-click="account.deleteRoom($index, $parent.$parent.$parent.$index)"
                    class="delete">
              Delete
            </button>
          </p>
          <div ng-if="account.isActiveRoomEdit($index)">
            <input ng-model="room.name">
            <input ng-model="room.seats">
            <button ng-click="account.submitRoomEdit(room, $index, $parent.$parent.$index)">
              Done
            </button>
          </div>

        </div>

        <form ng-if="account.isActiveRoom($index)"
              ng-submit="account.submitRoom($index)">
          <input ng-model="account.newRoom.name"
                 placeholder="Room Name (i.e. Auditorium 8)">
          <input ng-model="account.newRoom.seats"
                 placeholder="Number of Available Seats">
          <button type="submit">Add Room</button>       
        </form>

        <button ng-click="account.changeActiveRoom($index)"
                ng-if="!account.isActiveRoom($index)">
                Add New Room
        </button>

      </div>

      <form ng-if="account.isActive($index)" 
            ng-submit="account.editLocation($index)">
        <label>Name</label><input ng-model="location.name"><br>
        <label>Address</label><input ng-model="location.address"><br>
        <label>City</label><input ng-model="location.city"><br>
        <label>State</label><input ng-model="location.state"><br>
        <label>Zip</label><input ng-model="location.zip"><br>
        <button type="submit">Done</button>
        <button ng-click="account.deleteLocation($index); account.changeActive(-1)"
                class="delete">
          Delete Location
        </button>
      </form>
      
      <hr>
    </li>
  </ul>
</main>
