:local(.dialog) {
  width: 40vw;
  height: 80vh;
  max-width: none;
  max-height: none;

  h2 {
    margin: 0;
  }

  section {
    padding: 20px;
  }

  .error {
    color: rgb(221,44,0);
    font-size: .8em;
  }
}
