<md-dialog ng-class="$ctrl.style.dialog">
  <md-dialog-content>
    <section>
      <h2>Login</h2>
      <p ng-if="$ctrl.loginServerError" class="error">{{$ctrl.loginServerError}}</p>
      <form ng-submit="loginForm.$valid && $ctrl.tryLogin(loginData)" name="loginForm" novalidate>
        <md-input-container md-no-float class="md-block">
           <input ng-model="loginData.username" type="text" name="username" placeholder="Username" autocomplete="off" required>
           <ng-messages for="loginForm.username.$error" role="alert">
             <ng-message when="required">This field is required.</ng-message>
           </ng-messages>
        </md-input-container>
        <md-input-container md-no-float class="md-block">
          <input ng-model="loginData.password" type="password" name="password" placeholder="Password" autocomplete="off" required>
          <ng-messages for="loginForm.password.$error" role="alert">
            <ng-message when="required">This field is required.</ng-message>
          </ng-messages>
        </md-input-container>
        <md-button type="submit" class="md-raised md-primary">Log In</md-button>
      </form>
    </section>
    <section>
      <h2>Register</h2>
      <p ng-if="$ctrl.registerServerError" class="error">{{$ctrl.registerServerError}}</p>
      <form ng-submit="registerForm.$valid && $ctrl.tryRegister(registerData)" name="registerForm" novalidate>
        <md-input-container md-no-float class="md-block">
          <input ng-model="registerData.email" type="email" name="email" placeholder="Email" autocomplete="off" required>
          <ng-messages for="registerForm.email.$error" role="alert">
            <ng-message when="required">This field is required.</ng-message>
            <ng-message when="email">Your email is invalid.</ng-message>
          </ng-messages>
        </md-input-container>
        <md-input-container md-no-float class="md-block">
          <input ng-model="registerData.username" type="text" name="username" placeholder="Username" autocomplete="off" required>
          <ng-messages for="registerForm.username.$error" role="alert">
            <ng-message when="required">This field is required.</ng-message>
          </ng-messages>
        </md-input-container>
        <md-input-container md-no-float class="md-block">
          <input ng-model="registerData.password" type="password" name="password" placeholder="Password" autocomplete="off" required>
          <ng-messages for="registerForm.password.$error" role="alert">
            <ng-message when="required">This field is required.</ng-message>
          </ng-messages>
        </md-input-container>
        <md-input-container md-no-float class="md-block">
          <input ng-model="registerData.confirmPassword" ng-pattern="registerData.password" type="password" name="confirmPassword" placeholder="Confirm Password" autocomplete="off" required>
          <ng-messages for="registerForm.password.$error" role="alert">
            <ng-message when="required">This field is required.</ng-message>
            <ng-message when="pattern">This field must match your password.</ng-message>
          </ng-messages>
        </md-input-container>
        <md-button type="submit" class="md-raised md-primary">Register</md-button>
      </form>
    </section>
  </md-dialog-content>
</md-dialog>
