<section ng-class="$ctrl.style.about">
<h2><a ui-sref="about">About Art House Box Office</a></h2>
<ui-view name="about">
  <p>This application is designed for independent cinema owners to
    track their own movie sales, and compare box office numbers against national trends
     as other cinema owners enter their data.</p>

  <p>As the manager of an independent movie theater, you know that making programming
    decisions is both an art and a science. You are using your experience to balance choices that excite your audience and films that fulfill your mission as a theater. </p>

  <p>This site is designed as a tool for making more informed programing choices.
    You, along with scores of other independent cinema owners, enter your box office data
    and by doing so you can compare the trends among your own screenings and compare
    them with national trends among your peers.</p>

  <p><em>Do Action genres perform better as matinees or late nights?</em></p>

  <p><em>You're thinking about presenting an Akira Kurosawa retrospective, but first you
    want to see some typical attendance numbers for this director's films. </em></p>

  <p><em>How do your late night horror shows compare with the national trends?</em></p>

  <p><em>What genres are the most profitable on Wednesdays?</em></p>

  <p>These are the questions that Art House Box Office can help answer. Enjoy!</p>

  <hr>

    <p>This application was created using <a href="https://angularjs.org">Angular</a>, hosted on <a href="https://firebase.com">Firebase</a>, with the API running on <a href="https://nodejs.org">Node.js</a> hosted by <a href="https://heroku.com">Heroku</a> backed by a <a href="https://mongodb.com">MongoDB</a> database provided by <a href="https://mlab.com">mLab</a>.  Thanks to all the open-source developers that have put in all the effort to make these projects possible so that we can make awesome projects!
    </p>

    <p><a ui-sref="about.team">About the development team.</a>
  </ui-view>
</section>
