<section ng-class="$ctrl.style.addMovie">
  <h4>Create New Screening Run</h4>
  <p class="message">{{$ctrl.message}}</p>

  <form ng-submit="$ctrl.submitRun()">
    <select ng-init="$ctrl.fetchMovies()"
            ng-options="movie._id as movie.title for movie in $ctrl.movies"
            ng-model="$ctrl.selectedMovie">
      <option value="">--Select a Movie--</option>
    </select>
    <a ng-click="$ctrl.addingMovie = true"
      ng-if="!$ctrl.addingMovie">
      Or Add New Movie
    </a>
    
    <br>

    <select ng-options="loc._id as loc.name for loc in $ctrl.locations"
            ng-model="$ctrl.selectedLocation"
            ng-change="$ctrl.fetchTheaters()">
      <option value="">--Select a Location--</option>
    </select>

    <br>

    <select ng-if="$ctrl.selectedLocation !== ''"
            ng-options="room._id as room.name for room in $ctrl.theaters"
            ng-model="$ctrl.selectedRoom">
      <option value="">--Select a Theater Room--</option>
    </select>

    <br>
    <button type="submit">Submit</button>
  </form>
  <form ng-if="$ctrl.addingMovie"
        ng-submit="$ctrl.submitMovie()">
    <input ng-model="$ctrl.newMovie.title"
           placeholder="Movie Title"
           ng-blur="$ctrl.addingMovie = false">
    <button type="submit">Add Movie</button>
  </form>

  




</section>

