<section ng-class="$ctrl.style.listAll">
  <h4>All Screenings</h4>
  <ul>
    <li ng-repeat="screening in $ctrl.screenings">
      <p class="movie-title">{{screening.movie_data.title}}</p>
      <p class="movie-year">{{screening.movie_data.OMDbdata.year}}</p>
      <p>Date Time: {{screening.dateTime}}</p>
      <p>Admissions Total: {{screening.admissionsTotal}}</p>
      <p>Attendance Total: {{screening.attendanceTotal}}</p>
      <button ng-click="$ctrl.edit($index)">Edit</button>
    </li>

  </ul>
</section>
