<section ng-class="$ctrl.style.listAll"
         ng-init="$ctrl.fetchScreenings()">
  <p><em>Tap row to edit</em></p>
  <ul>
    <li ng-repeat="screening in $ctrl.screenings" ng-click="$ctrl.edit($index)">
      <p class="movie-title">{{screening.dateTime}} | <b>{{screening.movie_data.title}}</b> |
        Admissions: $<span class="numbers">{{screening.admissionsTotal}}</span>
        <span ng-hide="screening.admissionsTotal" class="underline">_____</span> |
        Attendance: <span class="numbers">{{screening.attendanceTotal}}</span>
        <span ng-hide="screening.attendanceTotal" class="underline">_____</span> |
      </p>
    </li>

  </ul>
</section>
