:local(.listAll) {

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;

    li {
      margin: -5px 5px;

      span.movie-title {

      }
      span.movie-year {
        font-size: 0.7em;
        font-style: italic;
      }

    }
  }

  .numbers {
    font-weight: bolder;
    color: hsla(90, 70%, 40%, 1);
  }
  .underline {
    color: red;
  }
}
