<main ng-class="$ctrl.style.sidebar">
  <section>
    <h3>New Query</h3>
    <ul>
      <li>Movie Title</li>
      <li>My Movies</li>
      <li>All Movies</li>
    </ul>
  </section>

  <section>
    <h3>Filter</h3>
    <ul>
      <li>Date Range</li>
      <li>Time of Day</li>
      <li>Day of Week</li>
      <li>Location</li>
      <li>Critic Rating</li>
      <li>Genre</li>
      <li>Director</li>
      <li>Country</li>
    </ul>
  </section>

  <section>
    <h3>Comparison</h3>
    <ul>
    </ul>
  </section>
</main>

<div class="buffer-sidebar"></div>
