@import 'colors';

:local(.sidebar) {
  font-size: 0.8em;
  background: #6e6e6e;
  color: #fff;

  section {
    ul {
      li {
        padding: 5px 0;

        a {
          color: $accent-color;
        }

        p {
          margin: 0;
          font-size: 0.8em;
        }
      }
    }
  }
}
