<header ng-class="$ctrl.style.header">
  <h1><a ui-sref="landing" ui-sref-active="active">Art House Box Office</a></h1>
  <nav>
    <ul>
      <!--<li><a ui-sref="trends" ui-sref-active="active">Trends</a></li>
      <li><a ui-sref="trends" ui-sref-active="active">Query</a></li>
      <li><a ui-sref="my-movies" ui-sref-active="active">My Movies</a></li>
      <li><a ui-sref="account" ui-sref-active="active">Account</a></li>
      <li><a ng-click="$ctrl.logout()" 
             ui-sref-active="active"
             ui-sref="landing">
             Log Out</a></li>-->

      <li ng-repeat="item in $ctrl.navItems">
        <a ui-sref-active="active"
           ui-sref="{{item.sref}}"
           ng-click="item.click()">
           {{item.name}}
        </a>
      </li>

    </ul>
  </nav>
</header>
<div class="buffer-header"></div>
