<aside ng-class="$ctrl.style.sidebar">
  <section>
    <h3>My Movies</h3>
    <ul>
      <li>
        <a ui-sref="my-movies.list-all">List All</a>
      </li>
      <li>
        <a ui-sref="my-movies.list-upcoming">List Upcoming</a>
      </li>
      <li>
        <a ui-sref="my-movies.list-recent">List Recent</a>
      </li>
      <li>
        <a>Add</a>
        <p>New Movie Run</p>
      </li>
    </ul>
  </section>
  <section>
    <h3>About</h3>
    <ul>
      <li>
        <a>Info</a>
      </li>
      <li>
        <a>Team</a>
      </li>
    </ul>
  </section>
</aside>
