:local(.row){

  background-color: white;

  div {
    height: 50px;
    margin-top: .5em;
    margin-bottom: .5em;
    background-color: { background-color: rgba(45, 159, 255, 0.5); }
  }

  .color-0 { background-color: rgba(225, 159, 100, 0.5); }
  .color-1 { background-color: rgba(195, 159, 130, 0.5); }
  .color-2 { background-color: rgba(165, 159, 160, 0.5); }
  .color-3 { background-color: rgba(135, 159, 190, 0.5); }
  .color-4 { background-color: rgba(105, 159, 220, 0.5); }
  .color-5 { background-color: rgba(75, 159, 250, 0.5); }
  .color-6 { background-color: rgba(45, 159, 255, 0.5); }

  button {
    float: right;
  }

}
// background-color: rgba(255 - 0 * 30, 159, 100 + 0 * 30, 0.5);
