:local(.row){

  background-color: white;

  div {
    height: 50px;
    margin-top: .5em;
    margin-bottom: .5em;
    background-color: { background-color: rgba(45, 159, 255, 0.5); }
  }

  .color-0 { background-color: rgba(235, 50, 10, 0.5); }
  .color-1 { background-color: rgba(195, 200, 50, 0.5); }
  .color-2 { background-color: rgba(155, 50, 90, 0.5); }
  .color-3 { background-color: rgba(115, 200, 130, 0.5); }
  .color-4 { background-color: rgba(75, 50, 170, 0.5); }
  .color-5 { background-color: rgba(35, 200, 210, 0.5); }
  .color-6 { background-color: rgba(0, 50, 250, 0.5); }

  .btn1 {
  color : rgb(49, 46, 46);
  background-color: lightgrey;
  border-radius: 10px 0 0 10px;
  font-size: 16px;
  float: right;
}
.btn1:not([disabled]):hover {
  background-color: rgba(107, 103, 91, 0.96);
  color: white;
  float: right;
}
.btn1[disabled] {
  color : rgb(187, 187, 187);
  background-color: rgba(230, 230, 229, 0.96);
  float: right;
}

  .titletext{
    display: inline;
    margin-bottom: 0em;
    margin-left: 1em;
    margin-right: 1em;
    color: hsla(10, 20%, 20%, 1);
  }

  .bodytext {
    font-size: 65%;
    margin-top: .25em;
    margin-bottom: 0em;
    margin-left: 2em;
    margin-right: 1em;
  }

}
// background-color: rgba(255 - 0 * 30, 159, 100 + 0 * 30, 0.5);
